*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_div{
    width: 100%;
    max-height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.innerdivof_main_div{
    width: 90%;
    max-height: auto;    
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-image:linear-gradient(274deg, rgba(131, 41, 150, 0.11) 0%, rgba(220, 118, 3, 0.13) 100%);
}
.img_wrapper{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}
.img_wrapper img{
    width: 90%;
    height: 25rem;
    border-radius: 1.2rem;
    object-fit: contain cover;
}
.content{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}
.inner_content{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: auto;
}
.inner_content h1{
    padding: 1rem 0;
    font-size: 2rem;
    color: #dc7603;
    font-weight: 500;
    text-transform: uppercase;
}
.inner_content p{
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 2;
}
.quote_para{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.quote{
    width: 5rem;
    height: 3.8rem;
}
.span_container{
    width: 100%;
    display: flex;
    justify-content: right;
}
.inner_content span{
font-size: 1.6rem;
font-weight: 400;
text-align: justify;
}