*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_div{
    width: 100%;
    max-height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.innerdivof_main_div{
    width: 90%;
    max-height: auto;    
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-image:var(--chairman_bg_gradient);
}

.img_wrapper{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

.img_wrapper img{
    width: 90%;
    height: 25rem;
    border-radius: 1.2rem;
    object-fit: contain cover;
}

.content{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

.inner_content{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: auto;
}

.inner_content h1{
    padding: 1rem 0;
    font-size: var(--medium);
    color: var(--text_orange);
    font-weight: var(--mid);
    text-transform: uppercase;
}

.inner_content p{
    color: var(--para_text_color);
    font-size: var(--below_medium);
    font-weight: var(--thin);
    line-height: 2;
}

.quote_para{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.quote{
    width: 5rem;
    height: 3.8rem;
}

.span_container{
    width: 100%;
    display: flex;
    justify-content: right;
}

.inner_content span{
font-size: 1.6rem;
font-weight:var(--regular);
text-align: justify;
}








/* mobile css */

@media (width<480px){
    .main_div{
    }
    
    .innerdivof_main_div{
        width: 90%;
        max-height: auto;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem 2rem;
        border-radius: 2rem;
        background-image:var(--chairman_bg_gradient);
    }
    
    .img_wrapper{
        width: 100%;
        height: 15rem;
    }
    
    .img_wrapper img{
        width: 100%;
        height: 100%;
    }
    
    .content{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .inner_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: auto;
    }
    
    .inner_content h1{
        width: 100%;
        font-size: var(--below_medium);
        text-align: center;
    }
    
    .inner_content p{
        font-size: 1.3rem;
        text-align: justify;
        font-weight: var(--thin);
        line-height: 2;
    }
    
    .quote_para{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    
    .quote{
        width: 4rem;
        height: 3rem;
    }
    
    .span_container{
        width: 100%;
        display: flex;
        justify-content: right;
    }
    
    .inner_content span{
    font-size: 1.3rem;
    font-weight:var(--regular);
    line-height: 1.8rem;
    text-align: start;
    }
}