.examprep_outer {
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousal_heading {
    width: 100%;
    height: 10vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    text-align: center;
    color: var(--text_dark_pink);
    font-size: var(--small);

}


.my_actual_cards {
    width: 100%;
    height: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* background-color: rgb(216, 215, 215); */
    /* gap: 3rem; */
    /* padding:  0; */
}