* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.goto_top_btn {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: right;
    font-size: 3rem;
    padding: 0 2rem;
    z-index: 500;
} 

 .up_arrow {
    cursor: pointer;
    position: absolute;
    top:-4rem;
    animation-name: btnanimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}


 @keyframes btnanimation {
    0% {
        transform: translateY(1rem);
    }
   100% {
        transform: translateY(-1rem)
    }
}
