.adpro1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adpro1-head {
    width: 100%;
    min-height: 15vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adpro1-head h1 {
    font-size: var(--extra_large);
    text-transform: capitalize;
    color: transparent;
    background:var(--head_gardient_color);
    -webkit-background-clip: text;
    line-height: 2;
}

.adpro1-line {
    width: 100%;
    height: 20vh;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adpro1-line div {
    height: 100%;
    width: 2px;
    background: var(--line_color);
}

.adpro1-image {
    height: 525px;
    width: 90%;
}

.adpro1-image img {
    height: 100%;
    width: 100%;
    object-fit: cover contain;
}






/* mobile css  */

@media (width<480px){
    .adpro1 {
    }
    
    .adpro1-head {
    }
    
    .adpro1-head h1 {
        font-size: var(--large);
        text-align: center;
        line-height: 3rem;
    }
    
    .adpro1-line {
        height: 8vh;
    }
    
    .adpro1-line div {
    }
    
    .adpro1-image {
        height: 15rem;
    }
    
    .adpro1-image img {
        border-radius: 0.5rem;
    }
}