* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.home1 {
  width: 100%;
  min-height: 81vh;
  /* max-height: auto; */
}

.welcomepage {
  width: 100%;
  height: 81.5vh;
  max-height: auto;
  background: var(--hero_section_gradient);
  display: flex;
  justify-content: space-between;
}

.left_section {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: right;
}

.left_inner_section {
  width: 90%;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding-top: 4.5rem;
}

.left_inner_section .admission_btn {
  height: 4rem;
  width: 35rem;
}

.admission_btn p {
  width: fit-content;
  font-size: var(--admission_btn_text_size);
  font-weight: var(--admission_btn_text_weight);
  text-transform: capitalize;
  line-height: 4rem;
  background-color: var(--bg_light);
  color: var(--text_orange);
  padding: 0 2rem;
  border-radius: 1rem;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.admission_btn p:hover {
  background-color: var(--bg_hover_admission_btn);
}

.left_inner_section h1 {
  width: 35rem;
  font-size: var(--max_large);
  word-wrap: break-word;
  color: var(--text_light);
}

.right_section {
  width: 60%;
  height: 100%;
  text-align: center;
}

.right_section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_section {
  width: 98%;
  height: 100%;
}

.inner_section img {
  width: 98%;
  height: 100%;
  object-fit: contain cover;
}

.home2 {
  width: 100%;
  min-height: 120vh;
}

.home2 .vertical {
  width: 100%;
  min-height: 20vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  gap: 30rem;
}

.home2 .vertical .line {
  width: 3.2px;
  height: 20vh;
  background: var(--line_color);
}

.vertical img {
  width: 10rem;
  height: 10.5rem;
  padding-top: 2rem;
}

.home2 .heading1 {
  min-height: 10vh;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home2 .heading1 h1 {
  padding-top: 20px;
}

.home2 .heading2 {
  min-height: 10vh;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home2 .heading2 h1 {
  padding-top: 25px;
  font-weight: var(--regular);
}

.home2 .homevideo {
  width: 100%;
  height: 90vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home2 .homevideo .textvideo {
  width: 90%;
  height: 75vh;
  max-height: auto;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  background: var(--video_text_gradientbg);
}

.innervideodiv {
  width: 95%;
  height: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}

.home2 .homevideo .textvideo .text {
  width: 50%;
  padding: 2rem 0;
  height: 30rem;
}

.home2 .homevideo .textvideo .text h2 {
  font-size: 18px;
  text-align: justify;
  line-height: 1.8rem;
  font-weight: var(--regular);
}

.home2 .homevideo .textvideo .text .read_btn {
  font-size: var(--below_medium);
  text-decoration: none;
  color: var(--text_pink);
}

.home2 .homevideo .textvideo .player-wrapper {
  width: 50%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  background-color: var(--bg_dark);
}

.player {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.home3 {
  width: 100%;
  min-height: 65vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home3 .home3info {
  width: 90%;
  min-height: 50vh;
  max-height: auto;
  border-radius: 2rem;
}

.home3 .home3info .info {
  width: 100%;
  min-height: 10vh;
  background: var(--primary_bg_gradient);
  border-radius: 2rem 2rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.home3 .home3info .links {
  background: var(--primary_bg_gradient);
  width: 100%;
  height: 40vh;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.home3 .home3info .basicinfo {
  background-color: var(--bg_light);
  box-shadow: 1px 1px 5px rgb(220, 220, 220);
  width: 13.5rem;
  height: 10rem;
  border-radius: 1.2rem;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.home3 .home3info .basicinfo .basicinfoimg {
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.home3 .home3info .basicinfo .basicinfoimg img {
  width: 3rem;
  height: 3rem;
}

.home3 .home3info .basicinfo .basicinfohead {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.home3 .home3info .basicinfo .basicinfohead h1 {
  font-size: var(--small);
  font-weight: var(--regular);
}







/* mobile css */
@media(width<480px) {
  .home1 {
    display: flex;
  }

  .welcomepage {
    width: 100%;
    height: 85.5vh;
    max-height: auto;
    background: var(--hero_section_gradient);
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .left_section {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: right;
  }

  .left_inner_section {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 0;
    justify-content: center;
  }

  .left_inner_section h1 {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    font-size: 1.9rem;
    padding-top: 0;
    color: var(--text_light);
  }

  .left_inner_section .admission_btn {
    height: 4rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .admission_btn p {
    width: fit-content;
    font-size: 1.2rem;
    color: var(--text_orange);
    padding: 0 2rem;
  }

  .admission_btn p:hover {}

  .right_section {
    width: 100%;
    height: 48%;
    align-items: start;
  }

  .inner_section {
    width: 100%;
    height: 100%;
  }

  .inner_section img {}



  /* for home 2 */
  .home2 {
    width: 100%;
    min-height: 120vh;
  }

  .home2 .vertical {
    width: 100%;
    min-height: 20vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    gap: 8rem;
  }

  .home2 .vertical .line {
    width: 0.2rem;
    height: 15vh;
    background: var(--line_color);
  }

  .vertical img {
    width: 5rem;
    height: 8rem;
    padding-top: 1.8rem;
  }

  .home2 .heading1 {}

  .home2 .heading1 h1 {
    padding-top: 10px;
  }

  .home2 .heading2 {
    padding-bottom: 1.2rem;
  }

  .home2 .heading2 h1 {}

  .home2 .homevideo {
    width: 100%;
    height: auto;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home2 .homevideo .textvideo {
    width: 90%;
    height: auto;
    border-radius: 1.2rem;
    display: flex;
    padding: 1.2rem 0.8rem;
    flex-direction: column;
    align-items: center;
    background: var(--video_text_gradientbg);
  }

  .innervideodiv {
    width: 98%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }

  .home2 .homevideo .textvideo .text {
    width: 100%;
    padding: 0 0;
    height: fit-content;
    color: var(--para_text_color);
  }
  
  .home2 .homevideo .textvideo .text h2 {
    font-size: var(--extra_small);
    font-weight: var(--regular);
    text-align: justify;
  }

  .home2 .homevideo .textvideo .text .read_btn {
    font-size: var(--small);
    text-decoration: none;
    color: var(--text_pink);
  }

  .home2 .homevideo .textvideo .player-wrapper {
    width: 100%;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    background-color: var(--bg_dark);
  }

  .player {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
  }


  /* home 3 css */
  .home3 {
    height: auto;
  }

  .home3 .home3info {
    width: 90%;
    height: auto;
    border-radius: 2rem;
  }

  .home3 .home3info .info {
    width: 100%;
    height: auto;
    background: var(--primary_bg_gradient);
    border-radius: 2rem 2rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-top: 1.2rem;
  }

  .home3 .home3info .links {
    background: var(--primary_bg_gradient);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .home3 .home3info .basicinfo {}

  .home3 .home3info .basicinfo .basicinfoimg {}

  .home3 .home3info .basicinfo .basicinfoimg img {
    width: 3rem;
    height: 3rem;
  }

  .home3 .home3info .basicinfo .basicinfohead {
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }

  .home3 .home3info .basicinfo .basicinfohead h1 {
    font-size: var(--small);
    font-weight: var(--regular);
  }

}