* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.home1 {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}

.welcomepage {
  width: 100%;
  height: 81.5vh;
  max-height: auto;
  background: linear-gradient(rgb(181, 137, 181), rgb(207, 151, 117));
  display: flex;
  justify-content: space-between;
}

.left_section {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: right;
  /* background-color: aqua; */
}

.left_inner_section {
  width: 90%;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding-top: 4.5rem;
}

.left_inner_section .admission_btn {
  height: 4rem;
  width: 35rem;
}

.admission_btn p {
  width: fit-content;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 4rem;
  background-color: white;
  color: var(--txt_orange);
  padding: 0 2rem;
  border-radius: 1rem;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.admission_btn p:hover {
  background-color: #fffbc5;
}

.left_inner_section h1 {
  width: 35rem;
  font-size: 70px;
  word-wrap: break-word;
  color: white;
}

.right_section {
  width: 60%;
  height: 100%;
  text-align: center;
}

.right_section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_section {
  width: 98%;
  height: 100%;
}

.inner_section img {
  width: 98%;
  height: 100%;
  object-fit: contain cover;
}

.home2 {
  width: 100%;
  min-height: 120vh;
}

.home2 .vertical {
  width: 100%;
  min-height: 20vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  gap: 30rem;
}

.home2 .vertical .line {
  width: 3.2px;
  height: 20vh;
  background: linear-gradient(0deg, rgba(219, 202, 154, 1) 0%, rgba(187, 130, 191, 1) 100%);
}

.vertical img {
  width: 10rem;
  height: 10.5rem;
  padding-top: 2rem;
}

.home2 .heading1 {
  min-height: 10vh;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home2 .heading1 h1 {
  padding-top: 20px;
}

.home2 .heading2 {
  min-height: 10vh;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home2 .heading2 h1 {
  padding-top: 25px;
  font-weight: 400;
}

.home2 .homevideo {
  width: 100%;
  height: 90vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home2 .homevideo .textvideo {
  width: 90%;
  height: 75vh;
  max-height: auto;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(245, 237, 220, 1) 0%, rgba(250, 233, 251, 1) 100%);
}

.innervideodiv {
  width: 95%;
  height: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}

.home2 .homevideo .textvideo .text {
  width: 50%;
  height: 30rem;
}

.home2 .homevideo .textvideo .text h2 {
  font-size: 18px;
  font-weight: 420;
}

.home2 .homevideo .textvideo .text .read_btn {
  font-size: 25px;
  text-decoration: none;
  color: rgb(170, 29, 170);
}

.home2 .homevideo .textvideo .player-wrapper {
  width: 50%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  background-color: black;
}

.player {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.home3 {
  width: 100%;
  min-height: 65vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home3 .home3info {
  width: 90%;
  min-height: 50vh;
  max-height: auto;
  border-radius: 2rem;
}

.home3 .home3info .info {
  width: 100%;
  min-height: 10vh;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(252, 245, 231) 0%, rgb(254, 241, 255) 100%);
  border-radius: 2rem 2rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.home3 .home3info .links {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(252, 245, 231) 0%, rgb(254, 241, 255) 100%);
  width: 100%;
  height: 40vh;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.home3 .home3info .basicinfo {
  background-color: white;
  box-shadow: 1px 1px 5px rgb(220, 220, 220);
  width: 13.5rem;
  height: 10rem;
  border-radius: 1.2rem;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.home3 .home3info .basicinfo .basicinfoimg {
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.home3 .home3info .basicinfo .basicinfoimg img {
  width: 3rem;
  height: 3rem;
}

.home3 .home3info .basicinfo .basicinfohead {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.home3 .home3info .basicinfo .basicinfohead h1 {
  font-size: 21px;
  font-weight: 400;
}

.home4 {
  width: 100%;
  min-height: 90vh;
  max-height: auto;
  background-color: red;
}

.home5 {
  width: 100%;
  min-height: 90vh;
  max-height: auto;
  background-color: yellow;
}

