* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    z-index: 1000000;
}

.head1 {
    width: 100%;
    height: 5rem;
    display: flex;
    font-family: 'Heebo', sans-serif;
    justify-content: center;
    background-color: var(--bg_nav_main);
}

.innerhead_part {
    width: 90%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.download_section {
    height: 5rem;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
}

.download_section:hover>.brochure {
    text-decoration: underline;
}

.download_section .download_icon {
    font-size: var(--below_medium);
    color: var(--brochure_color)
}

.download_section .brochure {
    font-size: var(--small);
    color: var(--brochure_color)
}

.searchgroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 60%;
}

.searchgroup .search_container {
    border: none;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--navbar_textcolor);
}

.searchgroup .search {
    width: 30rem;
    font-size: var(--small);
    padding: 0.3rem 0;
    font-weight: 100;
    border: none;
    outline: none;
    caret-color: var(--navbar_textcolor);
    color: var(--text_light);
    background: transparent;
}

.searchgroup .search_icon {
    font-size: var(--below_medium);
    cursor: pointer;
    color: var(--navbar_textcolor);
    transition: transform 0.3s ease;
}

.searchgroup .search_icon:hover {
    transform: scale(1.5, 1.5);
}

.searchgroup .enquire_btn {
    background-color: var(--bg_light);
    font-size: var(--small);
    color: var(--text_orange);
    padding: 1rem 3rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 12px -3px black;
    transition: all 0.2s ease-in;
}

.searchgroup .enquire_btn:hover {
    background-color: var(--bg_hover_orange);
}

::-webkit-input-placeholder {
    color: var(--navbar_textcolor);
}

.change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: var(--text_pink)
}

.head2 {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    background-color: var(--bg_navlink);
}

.head2_inner_container {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 90%;
}

.head2_inner_container .logo_container {
    width: 15rem;
    display: flex;
}

.head2_inner_container .logo_container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.head2 .navbar ul {
    display: flex;
    font-size: var(--small);
    list-style: none;
    gap: 1.3rem;
}

.head2 .navbar ul li {
    position: relative;
    line-height: 5rem;
    font-weight: 500;
    color: var(--navbar_textcolor);
    cursor: pointer;
    transition: all 0.2s ease;
}

.head2 .navbar ul li a {
    display: inline-block;
    width: 100%;
    padding: 0rem 0.6rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.head2 .navbar .down {
    transform: translate(0, 4px);
    opacity: 1;
}

.head2 .navbar .dropdown {
    visibility: hidden;
    opacity: 0;
    width: 15rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg_light);
    border-radius: 0 0.2rem 0.3rem 0.3rem;
    gap: 0;
    z-index: 100;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.head2 .navbar .dropdown li {
    width: 100%;
    font-size: var(--small);
    font-weight: 400;
    height: 3.5rem;
    line-height: 3.5rem;
    color: var(--link_text_color);
    padding: 0 0;
    border-radius: 0 0 0.3rem 0.3rem;
    cursor: pointer;
}

.head2 .dropdown a {
    width: 100%;
    display: inline-block;
    height: 3.5rem;
    padding-left: 0.5rem;
    border-radius: 0 0 0.3rem 0.3rem;
    text-decoration: none;
    transition: all 0.025s ease-in;
    color: var(--link_text_color);
}

.head2 .navbar ul li:hover>.dropdown {
    visibility: visible;
    opacity: 1;
    color: black;
}

.head2 .navbar ul li a:hover>.down {
    transform: rotate(-90deg);
}

.head2 .navbar li:hover {
    background-color: var(--bg_light);
    color: var(--text_dark);
}

.head2 .dropdown li:hover,
.head2 .dropdown li a:hover {
    color: var(--text_dark);
    background-color: var(--bg_gray);
}

/* for removing cross symbol of search bar */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.hamburger_menu {
    display: none;
}


/* responsive css */
@media (width<480px) {
    header {
        height: 4rem;
        z-index: 0;
    }

    .head1 {
        display: none;
    }

    .mobile_navbar {
        height: 0;
        transform: translateY(-21rem);
    }

    .head2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: var(--bg_navlink);
    }

    .head2_inner_container {
        display: flex;
        justify-content: space-between;
        height: 4rem;
        align-items: center;
        width: 90%;
    }

    .head2_inner_container .logo_container {
        width: 42%;
        height: 3rem;
    }

    .head2_inner_container .logo_container img {
        object-fit: fill;
        height: 100%;
        width: 100%;
        border-radius: 0.4rem;
    }

    .navbar {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: height 2s ease-in-out,transform 0.3s ease-in-out;
    }

    .cross_icon {
        width: 100%;
        display: flex;
        font-size: var(--large);
        justify-content: right;
        color: white;
        padding: 0rem 1.2rem;
        padding-top: 0.5rem;
    }

    .head2 .navbar ul {
        font-size: var(--extra_small);
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        gap: 0.1rem;
        background-color: var(--bg_navlink);
    }

    .head2 .navbar ul li {
        position: relative;
        line-height: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: right;
        font-size: 1.1rem;
        font-weight: var(--mid);
    }

    .head2 .navbar ul li a {
        display: inline-block;
        width: 100%;
        padding: 0rem 0.6rem;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }

    .head2 .navbar .down {
        transform: translate(0px, 4.5px);
        position: relative;
        align-items: center;
        opacity: 1;
    }

    .head2 .navbar .dropdown {
        width: 65%;
        padding-bottom: 0;
        box-shadow: none;
    }

    .head2 .navbar .dropdown li {
        font-size: var(--extra_small);
    }

    .hamburger_menu {
        display: block;
        font-size: var(--medium);
        color: var(--text_light);
    }

}