.teachers_info_section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;

}

.teachers_info_inner_section {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject_name {
    font-size: 2rem;
    line-height: 8rem;
    text-transform: capitalize;
    color: transparent;
    background: var(--head_gardient_color);
    -webkit-background-clip: text;
}

.teaching_image {
    width: 100%;
    height: 30rem;
}

.teaching_image img {
    object-fit: cover contain;
    height: 100%;
    width: 100%;
}

.teacher_card_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}