body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --bg_nav_main:#bd8ec2;
  --bg_navlink:#a271a2;
  --bg_text:#832996;
  --brochure_color:rgb(255, 255, 255);
  --bg_light:#fff;
  --txt_orange:#dc7603;
  --bg_hover_orange:#fce6cdd7;
  --navbar_textcolor:#fff;
}